<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/post/freepost">
        <input type="text" name="title" />
        <textarea name="contents" cols="80" rows="20"></textarea>
        <input type="submit" />
    </form>
</body>
</html>